<html>
    <head>My Kitchen Inventory App using PostgreSQL, Flask and Python</head>
    <body>
        <h1>Kitchen Inventory</h1><br>
        <div class="container">
            <form action="/submit", method="POST">
                <input type="submit", class="btn", value="Manage Inventory", name="manage_inv_btn">
                <input name="inv_name", type="text", placeholder="Enter inventory name">
                <input type="submit", class="btn", value="Create">
            </form>
        </div>
    </body>
</html>